*{
    padding: 0px;
    margin: 0px;
    font-family: Arial, Helvetica, sans-serif;
}

.container {
    margin: 0 auto;
    max-width: 960px;
}

/* #nav ul {
    list-style-type: none;
    margin: 0px;
}

#nav {
    background-color: red;
    overflow: hidden;
    width: 100%;
    margin: 0 auto 0 auto;
}

#nav li {
    float: right;
    padding: 15px 30px;
}

a {
    color: white;
    text-decoration: none;
} */

nav.navbar {
    width: 100%;
    background-color: red;
}

a {
    color: white;
}

button span {
    color: black;
}

img {
    width: 100%;
}

.container img[alt='blabla'] {
    width: 100%;
    margin-top: 3px;
    height: 100%;
}

#list{
    list-style-type: none;
    background-color: orange;
    color: rgb(2, 2, 102);
    padding: 10px 5px;
    margin-top: 15px;
}

#list li {
    border-bottom: 1px solid rgb(34, 31, 31);
    padding: 5px 0;
}

.section{
    margin: 15px 0;
}
/* ------------------------------ footer */ 
#footer{
    background-color: rgb(1, 1, 73);
    width: 100%;
}

#footer div{
    color: white;
    padding: 15px;
    
}
