header div h1 {
    font-size: 45px;
    padding: 0;
    margin: 280px 2% 0 2%;
}

button {
    margin: 30px 0 150px 0;
}

section {
    width: 70%;
    margin: 2% auto;
}

article, article:first-of-type {
    width: 33%;
    display: inline-block;
    margin: 0;
    vertical-align: top;
    padding: 0;
}

section img {
    float: none;
    width: 33%;
    margin: 0;
    padding: 0 10px;
}

main {
    margin: 15% 0;
}

article h3 {
    margin: 0 5px 30px 0;
}

#people {
    width: 90%;
} 

.people {
    width: 32%;
    display: inline-block;
    margin: 0 0 20px 10px;
    padding: 30px 60px 20px 40px;
} 

.people:first-of-type {
    width: 32%;
    display: inline-block;     
    margin: 0;   
    padding: 30px 60px 20px 40px;
}

/* ----------contact-------------- */
.contact {
    width: 24.7%;
}

.contact:first-of-type {
    padding: 40px 40px 0 40px;
    width: 24.7% !important;
}

.contact img {
    width: auto;
}